    <div id="cards">
      <div class="card card-pro">
        <a href="#" class="card-fav">Add to Favs</a>
      
        <div class="card-preview">
          <a href="/listing/1"><img src="http://placekitten.com/g/200/180"></a>
        </div>
      
        <h2 class="card-header"><a href="/listing/1">ACME Photography</a></h2>
      
        <div class="card-details">
          <div class="card-details-location">Omaha, NE</div>
          <div class="card-details-budget">Low Budget</div>
        </div>
      </div>
    
      <div class="card card-pro">
        <a href="#" class="card-fav">Remove from Favs</a>
      
        <div class="card-preview">
          <a href="/listing/90"><img src="http://placekitten.com/g/200/180"></a>
        </div>
      
        <h2 class="card-header"><a href="/listing/90">Tiny Lens Studios</a></h2>
      
        <div class="card-details">
          <div class="card-details-location">Lincoln, NE</div>
          <div class="card-details-budget">High Budget</div>
        </div>
      </div>
    
      <div class="card">
        <a href="#" class="card-fav">Remove from Favs</a>
        
        <h2 class="card-header"><a href="/listing/11">Still Photography</a></h2>
      
        <div class="card-preview">
          <a href="/listing/11"><img src="http://placekitten.com/g/200/180"></a>
        </div>
      
        <div class="card-details">
          <div class="card-details-location">Omaha, NE</div>
          <div class="card-details-budget">High Budget</div>
        </div>
      </div>
    
      <div class="card">
        <a href="#" class="card-fav">Add to Favs</a>
        
        <h2 class="card-header"><a href="/listing/21">Ansel Adams</a></h2>
      
        <div class="card-preview">
          <a href="/listing/21"><img src="http://placekitten.com/g/200/180"></a>
        </div>
      
        <div class="card-details">
          <div class="card-details-location">Omaha, NE</div>
          <div class="card-details-budget">High Budget</div>
        </div>
      </div>
    
      <div class="card">
        <a href="#" class="card-fav">Add to Favs</a>
        
        <h2 class="card-header"><a href="/listing/54">Instagram Studios</a></h2>
      
        <div class="card-preview">
          <a href="/listing/54"><img src="http://placekitten.com/g/200/180"></a>
        </div>
      
        <div class="card-details">
          <div class="card-details-location">Lincoln, NE</div>
          <div class="card-details-budget">Low Budget</div>
        </div>
      </div>
    </div>